<main>
  <!-- <section class="logo">
aqui
  </section> -->
  <section class="card-form">
  <h1>Belle Biju</h1>
  <tgt-input-icon [border]="true" [control]="formLogin.controls.login" [placeholder]="'Informe seu Usuário'" [icon]="'person'"></tgt-input-icon>
  <tgt-input-icon [border]="true" [control]="formLogin.controls.password" [placeholder]="'Informe sua Senha'" [icon]="'lock'"></tgt-input-icon>
  <tgt-button [border]="false"  [size]="'small'" (click)="entrar()">Logar</tgt-button>
  <tgt-button [size]="'small'" [fieldButton]="'outline'" [border]="false">Cadastrar-se</tgt-button>
  </section>
</main>
